<!DOCTYPE html>
<html lang="en">
<head>
<style>
body{
    {% load static %}
	background-image:url("{% static "最佳作曲.jpg"%}");
	background-repeat:no-repeat;
	background-size:cover;
}
</style>

    <meta charset="UTF-8">
    <title>最佳作曲人</title>

    <script language="javascript" type="text/javascript">
        window.onload = function(){
        var oTable = document.getElementById("num");
        for(var i=0;i<oTable.rows.length;i++){
        oTable.rows[i].cells[0].innerHTML = (i+1);
                            }
        }
    </script>
</head>
<body>
<div style="position: absolute; left: 50px; text-align: center;">
<table width="900px" border="1">
    <tr>
        <th width="180px">序号</th>
        <th width="180px">姓名</th>
        <th width="180px">性别</th>
        <th width="180px">年龄</th>
        <th width="180px">点击量</th>
    </tr>
</table>

<table width="900px" border="1">
<tbody id="num">
{% for composer in composers%}
    <tr>
        <td width="180px"><a></a></td>
        <td width="180px"><a>{{ composer.musician_name }}</a></td>
        <td width="180px"><a>{{ composer.musician_sex }}</a></td>
        <td width="180px"><a>{{ composer.musician_age }}</a></td>
        <td width="180px"><a>{{ composer.click_number }}</a></td>
    </tr>
{% endfor %}
</tbody>
</table>
</div>
</body>
</html>