<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>

<style>
body{
    {% load static %}
	background-image:url("{% static "登录界面背景.jpg"%}");
	background-repeat:no-repeat;
	background-size:cover;
}
</style>
</head>
<body>
<form action="{% url 'reset_password' %}" method="post">
    {% csrf_token %}
    <div style="position: absolute; left: 675px; top: 250px">
    <label><div style="color: #fff">新密码：</div>
        <input type="text" name="user_passwords">
    </label>
    <br/>
    <br/>
    <label><div style="color: #fff">确认新密码：</div>
        <input type="text" name="user_passwords2">
    </label>
    <br/>
    <br/>
    <input type="submit" name="提交" value="提交">
    </div>
</form>
</body>
<ml>